[Unit]
Description=Container service for Beets

[Container]
ContainerName=%p
Image=lscr.io/linuxserver/beets:latest
Volume=${CONTAINER_PATH}/config:/config:Z

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/config"
Restart=on-failure

[Install]
WantedBy=default.target
