[Unit]
Description=Container for Home Assistant Core
Requires=homeassistant-network.service 
Wants=homeassistant-esphome.service homeassistant-mqtt.service homeassistant-piper.service
After=homeassistant-network.service
After=homeassistant-esphome.service homeassistant-mqtt.service homeassistant-piper.service


[Container]
ContainerName=%p
Image=ghcr.io/home-assistant/home-assistant:stable
Volume=${CONTAINER_PATH}/config:/config:Z
PublishPort=${WEB_PORT}:8123
Network=homeassistant-network

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/config"
Restart=on-failure

[Install]
WantedBy=default.target
