[Unit]
Description=Container service for Nextcloud Redis Cache
Requires=nextcloud-network.service
After=nextcloud-network.service

[Container]
ContainerName=%p
Image=docker.io/library/redis:7
Network=nextcloud-network

[Service]
Restart=on-failure
