[Unit]
Description=Container service for Jellyfin Vue
Requires=jellyfin-network.service jellyfin.service
After=jellyfin-network.service jellyfin.service

[Container]
ContainerName=%p
Image=ghcr.io/jellyfin/%p:unstable
PublishPort=${WEB_PORT}:80
Network=jellyfin-network

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
