[Unit]
Description=Container service for Pinchflat

[Container]
ContainerName=%p
Image=ghcr.io/kieraneglin/pinchflat:latest
Volume=${CONTAINER_PATH}/config:/config:Z
PublishPort=${WEB_PORT}:8945

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/config"
Restart=on-failure

[Install]
WantedBy=default.target
