[Unit]
Description=Container service for Plex
Requires=plex-network.service
After=plex-network.service

[Container]
ContainerName=%p
Image=docker.io/plexinc/pms-docker:latest
Volume=${CONTAINER_PATH}/config:/config:Z
PublishPort=${WEB_PORT}:32400/tcp
PublishPort=${COMPANION_PORT}:3005/tcp
PublishPort=${ROKU_C2_PORT}:8324/tcp
PublishPort=${DLNA_PORT_B}:32469/tcp
PublishPort=${DLNA_PORT_A}:1900/udp
PublishPort=${GDM_PORT_A}:32410/udp
PublishPort=${GDM_PORT_B}:32412/udp
PublishPort=${GDM_PORT_C}:32413/udp
PublishPort=${GDM_PORT_D}:32414/udp
Tmpfs=/transcode
Network=plex-network

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/config"
Restart=on-failure
TimeoutStartSec=120

[Install]
WantedBy=default.target
