[Unit]
Description=Container service for UniFi Database
Requires=unifi-network.service
After=unifi-network.service

[Container]
ContainerName=%p
Image=docker.io/library/mongo:latest
Volume=${CONTAINER_PATH}/db:/data/db:Z
Network=unifi-network

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/db"
Restart=on-failure

[Install]
WantedBy=default.target
