[Unit]
Description=Container service for Actual

[Container]
ContainerName=%p
Image=ghcr.io/actualbudget/actual-server:latest-alpine
Volume=${CONTAINER_PATH}/data:/data:Z
PublishPort=${WEB_PORT}:5006

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/data"
Restart=on-failure

[Install]
WantedBy=default.target
