[Unit]
Description=Container service for Audiobookshelf
Requires=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Container]
ContainerName=%p
Image=docker.io/advplyr/audiobookshelf:latest
EnvironmentFile=/etc/containers/config/%p.env
Volume=/var/containers/volumes/audiobookshelf/config:/config:Z
Volume=/var/containers/volumes/audiobookshelf/metadata:/metadata:Z
Volume=/var/containers/shared-volumes/audiobooks:/var/audiobookshelf/audiobooks:z,rw,rslave,rbind
PublishPort=8689:80
AutoUpdate=registry
Pull=always

[Service]
Restart=on-failure

[Install]
WantedBy=default.target