[Unit]
Description=Container service for Beets
Requires=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Container]
ContainerName=%p
Image=lscr.io/linuxserver/beets:latest
EnvironmentFile=/etc/containers/config/%p.env
Volume=/var/containers/volumes/beets/config:/config:Z
Volume=/var/containers/volumes/beets/downloads:/downloads:Z
Volume=/var/containers/shared-volumes/music:/music:z,rw,rslave,rbind
PublishPort=8337:8337
AutoUpdate=registry

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
