[Unit]
Description=Container service for Caddy Reverse Proxy
Requires=network-online.target nss-lookup.target proxy-network.service
After=network-online.target nss-lookup.target proxy-network.service

[Container]
ContainerName=%p
Image=docker.io/library/caddy:latest
AddCapability=CAP_NET_ADMIN
Volume=${CONTAINER_PATH}/caddy:/etc/caddy:Z
Volume=${CONTAINER_PATH}/config:/config:Z
Volume=${CONTAINER_PATH}/data:/data:Z
Volume=${CONTAINER_PATH}/site:/srv:Z
PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp
Network=proxy-network
AutoUpdate=registry

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/caddy"
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/config"
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/data"
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/site"
Restart=on-failure

[Install]
WantedBy=default.target
