[Unit]
Description=Container service for Calibre Web

[Container]
ContainerName=%p
Image=lscr.io/linuxserver/calibre-web:latest
Volume=${CONTAINER_PATH}/config:/config:Z
PublishPort=${WEB_PORT}:8083
AutoUpdate=registry

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/config"
Restart=on-failure
RestartSec=15

[Install]
WantedBy=default.target
