[Unit]
Description=Container service for Emby
Requires=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Container]
ContainerName=%p
Image=docker.io/emby/%p:latest
AddDevice=/dev/dri/renderD128
EnvironmentFile=/etc/containers/config/%p.env
Volume=/var/containers/volumes/embyserver/data:/config:Z
Volume=/var/containers/shared-volumes/movies:/mnt/movies:z,rw,rslave,rbind
Volume=/var/containers/shared-volumes/tv:/mnt/tv:z,rw,rslave,rbind
Tmpfs=/transcode
PublishPort=8096:8096
AutoUpdate=registry

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
