[Unit]
Description=Container service for Emby
Requires=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Container]
ContainerName=%p
Image=docker.io/emby/%p:latest
Volume=${CONTAINER_PATH}/data:/config:Z
PublishPort=${WEB_PORT}:8096
Tmpfs=/transcode
AutoUpdate=registry

[Service]
EnvironmentFile=/etc/environment
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/data"
Restart=on-failure

[Install]
WantedBy=default.target
