[Unit]
Description=Container service for homarr

[Container]
ContainerName=%p
Image=ghcr.io/homarr-labs/homarr:latest
Volume=${CONTAINER_PATH}/data:/appdata:Z
PublishPort=${WEB_PORT}:7575

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/data"
Restart=on-failure

[Install]
WantedBy=default.target
