[Unit]
Description=Container service for Homer
Requires=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Container]
ContainerName=%p
Image=docker.io/b4bz/homer:latest
EnvironmentFile=/etc/containers/config/%p.env
Volume=${CONTAINER_PATH}/assets:/www/assets:Z
PodmanArgs=--publish ${WEB_PORT}:8080
AutoUpdate=registry

[Service]
EnvironmentFile=/etc/containers/config/%p.env
Restart=on-failure

[Install]
WantedBy=default.target
