[Unit]
Description=Container for ESPHome
Requires=network-online.target nss-lookup.target homeassistant-network.service
After=network-online.target nss-lookup.target homeassistant-network.service

[Container]
ContainerName=%p
Image=ghcr.io/esphome/esphome:latest
Volume=${CONTAINER_PATH}/config:/config:Z
Volume=/etc/localtime:/etc/localtime:ro
PublishPort=${WEB_PORT}:6052
Network=homeassistant-network
AutoUpdate=registry

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/config"
Restart=on-failure

[Install]
WantedBy=default.target
