[Unit]
Description=Container service for Immich
Requires=network-online.target nss-lookup.target immich-redis.service immich-db.service
After=network-online.target nss-lookup.target immich-redis.service immich-db.service

[Container]
ContainerName=%p
Image=ghcr.io/immich-app/immich-server:release
EnvironmentFile=/etc/containers/config/%p.env
Volume=${CONTAINER_PATH}/photos:/usr/src/app/upload:Z
Volume=/etc/localtime:/etc/localtime:ro
PodmanArgs=--publish ${WEB_PORT}:2283
Network=immich-network
AutoUpdate=registry

[Service]
EnvironmentFile=/etc/containers/config/%p.env
Restart=on-failure

[Install]
WantedBy=default.target
