[Unit]
Description=Container service for Immich Machine Learning
Requires=immich-network.service
After=immich-network.service

[Container]
ContainerName=%p
Image=ghcr.io/immich-app/immich-machine-learning:release
Volume=${CONTAINER_PATH}/cache:/cache:Z
Network=immich-network

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/cache"
Restart=on-failure

