[Unit]
Description=Container service for Immich Machine Learning
Requires=network-online.target nss-lookup.target immich-network.service
After=network-online.target nss-lookup.target immich-network.service

[Container]
ContainerName=%p
Image=ghcr.io/immich-app/immich-machine-learning:release
Volume=${CONTAINER_PATH}/cache:/cache:Z
Network=immich-network
AutoUpdate=registry

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/cache"
Restart=on-failure
