[Unit]
Description=Container service for Immich
Requires=immich-network.service
Requires=immich-db.service immich-redis.service
Wants=immich-ml.service
After=immich-network.service
After=immich-db.service immich-ml.service immich-redis.service
PartOf=immich-db.service immich-redis.service

[Container]
ContainerName=%p
Image=ghcr.io/immich-app/immich-server:release
Volume=/etc/localtime:/etc/localtime:ro
PublishPort=${WEB_PORT}:2283
Network=immich-network
AutoUpdate=registry

[Service]
Restart=on-failure

[Install]
WantedBy=default.target

