[Unit]
Description=Container service for Immich Redis Cache
Requires=immich-network.service
After=immich-network.service

[Container]
ContainerName=%p
Image=docker.io/valkey/valkey:9
Network=immich-network

[Service]
Restart=on-failure
