[Unit]
Description=Container service for Immich
Requires=network-online.target nss-lookup.target immich-redis.service immich-db.service
After=network-online.target nss-lookup.target immich-redis.service immich-db.service

[Container]
ContainerName=%p
Image=ghcr.io/immich-app/immich-server:release
Volume=/etc/localtime:/etc/localtime:ro
PublishPort=${WEB_PORT}:2283
Network=immich-network
AutoUpdate=registry

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
