[Unit]
Description=Container service for Jellyfin
Requires=jellyfin-network.service
After=jellyfin-network.service

[Container]
ContainerName=%p
Image=docker.io/jellyfin/%p:latest
Volume=${CONTAINER_PATH}/config:/config:Z
Volume=${CONTAINER_PATH}/cache:/cache:Z
PublishPort=${WEB_PORT}:8096
Tmpfs=/transcode
User=${UID}
Group=${GID}
Network=jellyfin-network
AutoUpdate=registry

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/config"
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/cache"
Restart=on-failure

[Install]
WantedBy=default.target
