[Unit]
Description=Container service for Jellyfin Vue
Requires=network-online.target nss-lookup.target jellyfin-network.service jellyfin.service
After=network-online.target nss-lookup.target jellyfin-network.service jellyfin.service

[Container]
ContainerName=%p
Image=ghcr.io/jellyfin/%p:unstable
EnvironmentFile=/etc/containers/config/%p.env
PodmanArgs=--publish ${WEB_PORT}:80
Network=jellyfin-network
AutoUpdate=registry

[Service]
EnvironmentFile=/etc/containers/config/%p.env
Restart=on-failure

[Install]
WantedBy=default.target
