[Unit]
Description=Container service for Jellyfin
Requires=network-online.target nss-lookup.target jellyfin-network.service
After=network-online.target nss-lookup.target jellyfin-network.service

[Container]
ContainerName=%p
Image=docker.io/jellyfin/%p:latest
EnvironmentFile=/etc/containers/config/%p.env
AddDevice=/dev/dri
Volume=${CONTAINER_PATH}/config:/config:Z
Volume=${CONTAINER_PATH}/cache:/cache:Z
Volume=${SHARED_VOLUMES_PATH}/movies:/media/movies:z,rw,rslave,rbind
Volume=${SHARED_VOLUMES_PATH}/tv:/media/tv:z,rw,rslave,rbind
Volume=${SHARED_VOLUMES_PATH}/yt:/media/yt:z,rw,rslave,rbind
PodmanArgs=--publish ${WEB_PORT}:8096
Tmpfs=/transcode
User=${UID}
Group=${GID}
Network=jellyfin-network
AutoUpdate=registry

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/containers/config/%p.env
Restart=on-failure

[Install]
WantedBy=default.target
