[Unit]
Description=Container service for Kometa
Requires=zfs.target
After=zfs.target

[Container]
ContainerName=%p
Image=docker.io/kometateam/kometa:nightly
Volume=${CONTAINER_PATH}/config:/config:Z
Network=plex-network
AutoUpdate=registry

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/config"
Restart=on-failure
