[Unit]
Description=Container service for LLDAP
Requires=lldap-network.service
After=lldap-network.service

[Container]
ContainerName=%p
Image=docker.io/lldap/lldap:stable
Volume=${CONTAINER_PATH}/data:/data:Z
PublishPort=${WEB_PORT}:17170
Network=lldap-network

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/data"
Restart=on-failure

[Install]
WantedBy=default.target
