[Unit]
Description=Container service for LubeLogger
Requires=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Container]
ContainerName=%p
Image=ghcr.io/hargata/lubelogger:latest
EnvironmentFile=/etc/containers/config/%p.env
Volume=/var/containers/volumes/lubelogger/config:/App/config:Z
Volume=/var/containers/volumes/lubelogger/data:/App/data:Z
Volume=/var/containers/volumes/lubelogger/documents:/App/documents:Z
Volume=/var/containers/volumes/lubelogger/images:/App/images:Z
Volume=/var/containers/volumes/lubelogger/temp:/App/temp:Z
Volume=/var/containers/volumes/lubelogger/log:/App/log:Z
Volume=/var/containers/volumes/lubelogger/keys:/root/.aspnet/DataProtection-Keys:Z
PublishPort=50663:8080
AutoUpdate=registry

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
