[Unit]
Description=Container service for LubeLogger
Requires=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Container]
ContainerName=%p
Image=ghcr.io/hargata/lubelogger:latest
Volume=${CONTAINER_PATH}/config:/App/config:Z
Volume=${CONTAINER_PATH}/data:/App/data:Z
Volume=${CONTAINER_PATH}/documents:/App/documents:Z
Volume=${CONTAINER_PATH}/images:/App/images:Z
Volume=${CONTAINER_PATH}/temp:/App/temp:Z
Volume=${CONTAINER_PATH}/log:/App/log:Z
Volume=${CONTAINER_PATH}/keys:/root/.aspnet/DataProtection-Keys:Z
PodmanArgs=--publish ${WEB_PORT}:8080
AutoUpdate=registry

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
