[Unit]
Description=Container service for Mealie

[Container]
ContainerName=%p
Image=ghcr.io/mealie-recipes/%p:latest
Volume=${CONTAINER_PATH}/data:/app/data:Z
PublishPort=${WEB_PORT}:9000
AutoUpdate=registry

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/data"
Restart=on-failure

[Install]
WantedBy=default.target
