[Unit]
Description=Container service for MinIO
Requires=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Container]
ContainerName=%p
Image=docker.io/minio/minio:latest
Exec=server /data --console-address ":9001"
Volume=${CONTAINER_PATH}/data:/data:Z
PublishPort=${WEB_PORT}:9000
PublishPort=${CONSOLE_PORT}:9001
AutoUpdate=registry

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/data"
Restart=on-failure

[Install]
WantedBy=default.target
