[Unit]
Description=Container service for Nextcloud Web Server
Requires=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Container]
ContainerName=%p
Image=docker.io/nextcloud/aio-apache:latest
EnvironmentFile=/var/containers/dotenv/%p.env
Volume=/var/containers/volumes/nextcloud/www:/var/www/html:ro,z
Volume=/var/containers/volumes/nextcloud/apache:/mnt/data:rw,Z
Tmpfs=/var/log/supervisord
Tmpfs=/var/run/supervisord
Tmpfs=/usr/local/apache2/logs
Tmpfs=/tmp
Tmpfs=/home/www-data
PublishPort=8100:80/tcp
PublishPort=8100:80/udp
Network=nextcloud
AutoUpdate=registry
Pull=always

[Service]
Restart=on-failure

[Install]
WantedBy=default.target