[Unit]
Description=Container service for Nextcloud
Requires=network-online.target nss-lookup.target nextcloud-network.service
Requires=nextcloud-clamav.service nextcloud-db.service
Requires=nextcloud-fts.service nextcloud-redis.service
After=network-online.target nss-lookup.target nextcloud-network.service
After=nextcloud-clamav.service nextcloud-db.service
After=nextcloud-fts.service nextcloud-redis.service

[Container]
ContainerName=%p
Image=docker.io/nextcloud:stable
EnvironmentFile=/etc/containers/config/%p.env
Volume=/var/containers/volumes/nextcloud/www:/var/www/html:Z
Network=nextcloud-network
AutoUpdate=registry

[Service]
ExecStartPre=/usr/bin/chown -R 33 /var/containers/volumes/nextcloud/www
Restart=on-failure

[Install]
WantedBy=default.target