[Unit]
Description=Container service for Nextcloud FullTextSearch
Requires=nextcloud-network.service
After=nextcloud-network.service

[Container]
ContainerName=%p
Image=docker.io/library/elasticsearch:8.16.4
Volume=${CONTAINER_PATH}/fts:/usr/share/elasticsearch/data:Z
Network=nextcloud-network
AutoUpdate=registry

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/fts"
ExecStartPre=/usr/bin/chown -R 1000 ${CONTAINER_PATH}/fts
Restart=on-failure
