[Unit]
Description=Container service for Nextcloud
Requires=network-online.target nss-lookup.target nextcloud-network.service
Requires=nextcloud-clamav.service nextcloud-db.service
Requires=nextcloud-fts.service nextcloud-redis.service
After=network-online.target nss-lookup.target nextcloud-network.service
After=nextcloud-clamav.service nextcloud-db.service
After=nextcloud-fts.service nextcloud-redis.service

[Container]
ContainerName=%p
Image=ghcr.io/cubt85iz/nextcloud:stable
AddDevice=/dev/dri
Volume=${CONTAINER_PATH}/www:/var/www/html:z,rw,rslave,rbind
Volume=${CONTAINER_PATH}/scans:/var/www/html/scans:z
PodmanArgs=--publish ${PORT}:80/tcp
Network=nextcloud-network
AutoUpdate=registry

[Service]
EnvironmentFile=/etc/containers/config/%p.env
ExecStartPre=/usr/bin/chown -R 33 ${CONTAINER_PATH}/www
Restart=on-failure

[Install]
WantedBy=default.target