[Unit]
Description=Container service for Nextcloud Database
Requires=network-online.target nss-lookup.target nextcloud-network.service
After=network-online.target nss-lookup.target nextcloud-network.service

[Container]
ContainerName=%p
Image=docker.io/postgres:16
EnvironmentFile=/etc/containers/config/%p.env
Volume=${CONTAINER_PATH}/db:/var/lib/postgresql/data:Z
Network=nextcloud-network
AutoUpdate=registry

[Service]
EnvironmentFile=/etc/containers/config/%p.env
ExecStartPre=/usr/bin/chown -R 999 ${CONTAINER_PATH}/db
Restart=on-failure
