[Unit]
Description=Container service for Nextcloud FullTextSearch
Requires=network-online.target nss-lookup.target nextcloud-network.service
After=network-online.target nss-lookup.target nextcloud-network.service

[Container]
ContainerName=%p
Image=docker.io/elasticsearch:8.11.3
EnvironmentFile=/etc/containers/config/%p.env
Volume=/var/containers/volumes/nextcloud/fts:/usr/share/elasticsearch/data:Z
Network=nextcloud-network
AutoUpdate=registry

[Service]
ExecStartPre=/usr/bin/chown -R 1000 /var/containers/volumes/nextcloud/fts
Restart=on-failure
