[Unit]
Description=Container service for Nextcloud AntiVirus
Requires=network-online.target nss-lookup.target nextcloud-network.service
After=network-online.target nss-lookup.target nextcloud-network.service

[Container]
ContainerName=%p
Image=docker.io/clamav/clamav:latest
Volume=${CONTAINER_PATH}/av:/var/lib/clamav:Z
Network=nextcloud-network
AutoUpdate=registry

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/av"
ExecStartPre=/usr/bin/chown -R 100 ${CONTAINER_PATH}/av
Restart=on-failure
