[Unit]
Description=Container service for Nextcloud Database
Requires=network-online.target nss-lookup.target nextcloud-network.service
After=network-online.target nss-lookup.target nextcloud-network.service

[Container]
ContainerName=%p
Image=docker.io/library/postgres:16
Volume=${CONTAINER_PATH}/db:/var/lib/postgresql/data:Z
Network=nextcloud-network
AutoUpdate=registry

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/db"
ExecStartPre=/usr/bin/chown -R 999 ${CONTAINER_PATH}/db
Restart=on-failure
