[Unit]
Description=Container service for Nextcloud AntiVirus
Requires=network-online.target nss-lookup.target nextcloud-network.service
After=network-online.target nss-lookup.target nextcloud-network.service

[Container]
ContainerName=%p
Image=docker.io/clamav/clamav:latest
EnvironmentFile=/etc/containers/config/%p.env
Volume=${CONTAINER_PATH}/av:/var/lib/clamav:Z
Network=nextcloud-network
AutoUpdate=registry

[Service]
EnvironmentFile=/etc/containers/config/%p.env
ExecStartPre=/usr/bin/chown -R 100 ${CONTAINER_PATH}/av
Restart=on-failure
