[Unit]
Description=Container service for Nextcloud
Requires=network-online.target nss-lookup.target nextcloud-network.service
Requires=nextcloud-clamav.service nextcloud-code.service
Requires=nextcloud-db.service nextcloud-fts.service 
Requires=nextcloud-redis.service
After=network-online.target nss-lookup.target nextcloud-network.service
After=nextcloud-clamav.service nextcloud-code.service
After=nextcloud-db.service nextcloud-fts.service 
After=nextcloud-redis.service

[Container]
ContainerName=%p
Image=docker.io/library/nextcloud:29
AddDevice=/dev/dri
Volume=${CONTAINER_PATH}/www:/var/www/html:z,rw,rslave,rbind
PublishPort=${WEB_PORT}:80/tcp
Network=nextcloud-network
AutoUpdate=registry

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
