[Unit]
Description=Container service for Nextcloud Redis
Requires=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Container]
ContainerName=%p
Image=docker.io/nextcloud/aio-redis:latest
EnvironmentFile=/etc/containers/config/%p.env
Volume=/var/containers/volumes/nextcloud/redis:/data:rw,Z
Network=nextcloud-network
AutoUpdate=registry

[Service]
Restart=on-failure

[Install]
WantedBy=default.target