[Unit]
Description=Container service for Nextcloud Redis Cache
Requires=network-online.target nss-lookup.target nextcloud-network.service
After=network-online.target nss-lookup.target nextcloud-network.service

[Container]
ContainerName=%p
Image=docker.io/library/redis:7
Network=nextcloud-network
AutoUpdate=registry

[Service]
Restart=on-failure
