[Unit]
Description=Container service for Open WebUI
Requires=ai-network.service
After=ai-network.service

[Container]
ContainerName=%p
Image=ghcr.io/open-webui/open-webui:main
Volume=${CONTAINER_PATH}/open-webui:/app/backend/data:Z
PublishPort=${WEB_PORT}:8080
Network=ai-network

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/open-webui"
Restart=on-failure

[Install]
WantedBy=default.target
