[Unit]
Description=Container service for backing up opnsense configuration

[Container]
ContainerName=%p
Image=opnsense-bkp.build
Volume=${CONTAINER_PATH}/config:/config:Z

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/config"
Restart=on-failure
