[Unit]
Description=Container service for Paperless-ngx Broker
Requires=paperless-ngx-network.service
After=paperless-ngx-network.service

[Container]
ContainerName=%p
Image=docker.io/library/redis:7
Volume=${CONTAINER_PATH}/redis:/data:Z
Network=paperless-ngx-network
AutoUpdate=registry

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/redis"
Restart=on-failure
