[Unit]
Description=Container service for PhotoPrism
Requires=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Container]
ContainerName=%p
Image=docker.io/photoprism/photoprism:latest
Volume=${CONTAINER_PATH}/data:/photoprism/storage:Z
PublishPort=${WEB_PORT}:2342
WorkingDir=/photoprism
AutoUpdate=registry

[Service]
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
