[Unit]
Description=Container service for Plex Meta Manager
Requires=network-online.target nss-lookup.target zfs.target
After=network-online.target nss-lookup.target zfs.target

[Container]
ContainerName=%p
Image=docker.io/meisnate12/plex-meta-manager:nightly
Volume=${CONTAINER_PATH}/config:/config:Z
Network=plex-network
AutoUpdate=registry

[Service]
EnvironmentFile=/etc/containers/config/%p.env
Restart=on-failure

[Install]
WantedBy=default.target
