[Unit]
Description=Container service for Plex Meta Manager
Requires=network-online.target nss-lookup.target zfs.target plex.service
After=network-online.target nss-lookup.target zfs.target plex.service

[Container]
ContainerName=%p
Image=docker.io/meisnate12/plex-meta-manager:nightly
EnvironmentFile=/etc/containers/config/%p.env
Volume=/var/containers/volumes/plex-meta-manager/config:/config:Z
Network=plex-network
AutoUpdate=registry

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
