[Unit]
Description=Container service for Radicale

[Container]
ContainerName=%p
Image=ghcr.io/kozea/radicale:3.5.7
Volume=${CONTAINER_PATH}/config:/etc/radicale:Z,ro
Volume=${CONTAINER_PATH}/data:/var/lib/radicale:Z
PublishPort=${WEB_PORT}:5232

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/config"
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/data"
Restart=on-failure

[Install]
WantedBy=default.target
