# $ docker run -d --name some-postgres --network some-network -e POSTGRES_PASSWORD=secret -e POSTGRES_USER=redmine postgres

[Unit]
Description=Container service for Redmine
Requires=redmine-network.service redmine-db.service
After=redmine-network.service redmine-db.service

[Container]
ContainerName=%p
Image=docker.io/library/redmine:latest
Volume=${CONTAINER_PATH}/files:/app/redmine/files:Z
PublishPort=${WEB_PORT}:3000
Network=redmine-network

[Service]
Restart=on-failure

[Install]
WantedBy=default.target

##################################################################################
#version: '3.1'
#
#services:
#
# redmine:
#    image: redmine
#    restart: always
#    ports:
#      - 8080:3000
#    environment:
#      REDMINE_DB_POSTGRES: db
#      REDMINE_DB_PASSWORD: example
#      REDMINE_SECRET_KEY_BASE: supersecretkey
#
#  db:
#    image: mysql:8.0
#    restart: always
#    environment:
#      POSTGRES_PASSWORD: example
#      POSTGRES_USER: redmine
#      POSTGRES_DATABASE: redmine
