[Unit]
Description=Container service for Syncthing
Requires=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Container]
ContainerName=%p
Image=docker.io/%p/%p:latest
Volume=${CONTAINER_PATH}/data:/var/%p:Z
PublishPort=${WEB_PORT}:8384
PublishPort=${SYNC_PORT}:22000/tcp
PublishPort=${SYNC_PORT}:22000/udp
AutoUpdate=registry

[Service]
EnvironmentFile=/etc/environment
Restart=on-failure

[Install]
WantedBy=default.target
