[Unit]
Description=Container service for Tautulli
Requires=network-online.target nss-lookup.target plex-network.service
After=network-online.target nss-lookup.target plex-network.service

[Container]
ContainerName=%p
Image=docker.io/tautulli/tautulli:latest
EnvironmentFile=/etc/containers/config/%p.env
Volume=/var/containers/volumes/tautulli/config:/config:Z
PublishPort=43918:8181
Network=plex-network
AutoUpdate=registry

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
