[Unit]
Description=Container service for Tautulli
Requires=network-online.target nss-lookup.target plex-network.service
After=network-online.target nss-lookup.target plex-network.service

[Container]
ContainerName=%p
Image=docker.io/tautulli/tautulli:latest
Volume=${CONTAINER_PATH}/config:/config:Z
PodmanArgs=--publish ${WEB_PORT}:8181
Network=plex-network
AutoUpdate=registry

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
