[Unit]
Description=Container service for UniFi
Requires=network-online.target nss-lookup.target unifi-db.service
After=network-online.target nss-lookup.target unifi-db.service

[Container]
ContainerName=%p
Image=docker.io/jacobalberty/unifi:latest
Volume=${CONTAINER_PATH}/data:/unifi:Z
PodmanArgs=--publish ${STUN_PORT}:3478/udp
PodmanArgs=--publish ${SPEED_TEST_PORT}:6789/tcp
PodmanArgs=--publish ${C2_PORT}:8080/tcp
PodmanArgs=--publish ${WEB_PORT}:8443/tcp
PodmanArgs=--publish ${HTTP_PORTAL_PORT}:8880/tcp
PodmanArgs=--publish ${HTTPS_PORTAL_PORT}:8843/tcp
PodmanArgs=--publish ${DISCOVERY_PORT}:10001/udp
Tmpfs=/var/run/unifi
Network=unifi-network
AutoUpdate=registry

[Service]
EnvironmentFile=/etc/containers/config/%p.env
Restart=on-failure

[Install]
WantedBy=default.target
