[Unit]
Description=Container service for UniFi Database
Requires=network-online.target nss-lookup.target unifi-network.service
After=network-online.target nss-lookup.target unifi-network.service

[Container]
ContainerName=%p
Image=docker.io/mongo:latest
Volume=${CONTAINER_PATH}/db:/data/db:Z
Network=unifi-network
AutoUpdate=registry

[Service]
EnvironmentFile=/etc/containers/config/%p.env
Restart=on-failure

[Install]
WantedBy=default.target
