[Unit]
Description=Container service for UniFi
Requires=unifi-db.service
After=unifi-db.service

[Container]
ContainerName=%p
Image=docker.io/jacobalberty/unifi:latest
Volume=${CONTAINER_PATH}/data:/unifi:Z
PublishPort=${STUN_PORT}:3478/udp
PublishPort=${SPEED_TEST_PORT}:6789/tcp
PublishPort=${C2_PORT}:8080/tcp
PublishPort=${WEB_PORT}:8443/tcp
PublishPort=${HTTP_PORTAL_PORT}:8880/tcp
PublishPort=${HTTPS_PORTAL_PORT}:8843/tcp
PublishPort=${DISCOVERY_PORT}:10001/udp
Tmpfs=/var/run/unifi
Network=unifi-network

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/data"
Restart=on-failure

[Install]
WantedBy=default.target
