[Unit]
Description=Container service for UniFi Database
Requires=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Container]
ContainerName=%p
Image=docker.io/mongo:latest
EnvironmentFile=/var/containers/dotenv/%p.env
Volume=unifi-db:/data/db:Z
Network=unifi
AutoUpdate=registry
Pull=always

[Service]
Restart=on-failure

[Install]
WantedBy=default.target