[Unit]
Description=Container service for Vikunja
Requires=vikunja-network.service vikunja-db.service
After=vikunja-network.service vikunja-db.service

[Container]
ContainerName=%p
Image=docker.io/vikunja/vikunja:latest
Volume=${CONTAINER_PATH}/files:/app/vikunja/files:Z
PublishPort=${WEB_PORT}:3456
Network=vikunja-network

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/files"
Restart=on-failure

[Install]
WantedBy=default.target
