[Unit]
Description=Container service for Vikunja
Requires=network-online.target nss-lookup.target vikunja-network.service vikunja-db.service
After=network-online.target nss-lookup.target vikunja-network.service vikunja-db.service

[Container]
ContainerName=%p
Image=docker.io/vikunja/vikunja:latest
Volume=${CONTAINER_PATH}/files:/app/vikunja/files:Z
PublishPort=${WEB_PORT}:3456
Network=vikunja-network
AutoUpdate=registry

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
