[Unit]
Description=Container service for Vikunja Database
Requires=vikunja-network.service
After=vikunja-network.service

[Container]
ContainerName=%p
Image=docker.io/library/postgres:16
Volume=${CONTAINER_PATH}/db:/var/lib/postgresql/data:Z
Network=vikunja-network

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/db"
ExecStartPre=/usr/bin/chown -R 999 ${CONTAINER_PATH}/db
Restart=on-failure
