[Unit]
Description=Container service for Audiobookshelf
Requires=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Container]
ContainerName=container-%p
Image=docker.io/%p/%p:latest
EnvironmentFile=/var/containers/dotenv/%p.env
Volume=/var/containers/volumes/%p/config:/config:Z
Volume=/var/containers/volumes/%p/metadata:/metadata:Z
Volume=/var/containers/volumes/shared/audiobooks:/var/%p/audiobooks:z,rw,rslave,rbind
PublishPort=8689:80
AutoUpdate=registry
Pull=always

[Service]
Restart=on-failure

[Install]
WantedBy=default.target