[Unit]
Description=Container service for YTSubs
Requires=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Container]
ContainerName=%p
Image=registry.gitlab.com/cubt85iz/ytsubs:latest
EnvironmentFile=/etc/containers/config/%p.env
Volume=/var/containers/volumes/%p/config:/config:Z
Volume=/var/containers/volumes/%p/metadata:/metadata:Z
AutoUpdate=registry

[Service]
Restart=on-failure
