[Unit]
Description=Service for yearly container volume backups

[Service]
Type=oneshot
EnvironmentFile=/etc/containers/config/%i.env
EnvironmentFile=/etc/dotenv/host_secrets.env
ExecStart=/usr/bin/backup-dataset "${DATASET}" "yearly"
ExecStartPost=-/usr/bin/curl -fsS -m 10 --retry 5 -o /dev/null "${BACKUP_MONITOR_URL}"
