[Unit]
Description=Service for monthly container volume backups

[Service]
Type=oneshot
EnvironmentFile="/etc/containers/config/%i.env"
EnvironmentFile="/etc/dotenv/host_secrets.env"
Environment=TIMESTAMP=$(date +%%Y_%%m_%%d-%%H_%%M_%%S)
ExecStartPre=/usr/bin/create-snapshot "$DATASET" "monthly" "n" "$TIMESTAMP"
ExecStart=/usr/bin/backup-snapshot "$DATASET@$TIMESTAMP-monthly" "$BACKUP_PATH" "$BACKUP_KEY"
ExecStartPost=/usr/bin/upload-to-b2 "$B2_ACCOUNT" "$B2_KEY" "$BACKUP_PATH" "%H-$DATASET"
ExecStartPost=/usr/bin/prune-snapshots "$DATASET" "monthly" "n" "$KEEP_MONTHLY"
ExecStartPost=/usr/bin/curl -fsS -m 10 --retry 5 -o /dev/null "$BACKUP_MONITOR_URL"
