[Unit]
Description=Service to fix SELinux contexts for SSH Host Keys
Before=sshd.service

[Service]
Type=oneshot
ExecCondition=/bin/sh -c "/usr/bin/ls -lZ /etc/ssh/ssh_host_* | grep -v 'unconfined_u:object_r:etc_t'"
ExecStart=/usr/bin/fix-host-keys

[Install]
WantedBy=multi-user.target