[Unit]
Description=Healthcheck for important updates

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/bin/sh -c "/usr/bin/test $(/usr/bin/rpm-ostree status --json | /usr/bin/jq -r '(.[\"cached-update\"])? | .advisories[][2] | select (. >= 3)' | /usr/bin/wc -l) = "0""
ExecStart=/usr/bin/curl -fsS -m 10 --retry 5 -o /dev/null "$UPDATES_MONITOR_URL"