[Unit]
Description=Healthcheck for ZFS pools

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/bin/sh -c '! /usr/sbin/zpool list -Ho health | grep -qv "ONLINE"'
ExecStart=/usr/bin/curl -fsS -m 10 --retry 5 -o /dev/null "$ZFS_MONITOR_URL"