[Unit]
Description=Service for background jobs for Nextcloud container

[Service]
ExecCondition=/bin/sh -c "/usr/bin/test $(podman container inspect -f '{{.State.Running}}' nextcloud) = "true""
ExecStart=/usr/bin/podman exec -it -u www-data nextcloud php /var/www/html/cron.php
