[Unit]
Description=Synchronization script for devices

[Service]
Type=oneshot
ExecCondition=/bin/bash -xc "if [[ \"$SOURCE\" =~ ^/.+ ]]; then /usr/bin/test -e \"$SOURCE\"; fi"
ExecCondition=/bin/bash -xc "if [[ \"$TARGET\" =~ ^/.+ ]]; then /usr/bin/test -e \"$TARGET\"; fi"
ExecStart=/usr/bin/sync
