[Unit]
Description=Container service for Nextcloud ClamAV
Requires=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Container]
ContainerName=%p
Image=docker.io/nextcloud/aio-clamav:latest
EnvironmentFile=/home/core/.config/containers/config/%p.env
Volume=nextcloud-av:/var/lib/clamav:rw,Z
Tmpfs=/var/lock
Tmpfs=/var/log/clamav
Tmpfs=/tmp
Network=nextcloud
AutoUpdate=registry
Pull=always

[Service]
Restart=on-failure

[Install]
WantedBy=default.target